TOGGL_TOKEN=
HOURLY_RATE=
CACHE_FILE=.cache-widget.json
CACHE_TTL=600000   # 10 minutes in ms
NBU_API_URL=https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?valcode=USD&json
REFRESH_INTERVAL=120000   # 2 minutes in ms
